# Lab | Model generation, and validation

For this lab, we still keep using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

# Get the data

We are using the marketing_customer_analysis.csv file.

In [5]:
data = pd.read_csv("C:\\users\\simra\\Downloads\\Ironhack\\Week_2\\Day_2\\marketing_customer_analysis.csv")
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

# Linear regression

## Select the columns which are correlated with total_claim_amount and don't suffer from multicollinearity (see the previous lab)

In [6]:
numerical = data.select_dtypes(include=np.number)
categoricals = data.select_dtypes(include=np.object)

C:\Users\simra\AppData\Local\Temp\ipykernel_19040\3652092876.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categoricals = data.select_dtypes(include=np.object)

In [7]:
numerical

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [9]:
categoricals

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [10]:
#Check for multicollinearity:
correlation_matrix = numerical.corr().abs()
correlation_matrix

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,1.000000,0.024366,0.396262,0.011517,0.009418,0.036343,0.021955,0.226451
Income,0.024366,1.000000,0.016665,0.026715,0.000875,0.006408,0.008656,0.355254
Monthly Premium Auto,0.396262,0.016665,1.000000,0.005026,0.020257,0.013122,0.011233,0.632017
Months Since Last Claim,0.011517,0.026715,0.005026,1.000000,0.042959,0.005354,0.009136,0.007563
Months Since Policy Inception,0.009418,0.000875,0.020257,0.042959,1.000000,0.001158,0.013333,0.003335
Number of Open Complaints,0.036343,0.006408,0.013122,0.005354,0.001158,1.000000,0.001498,0.014241
Number of Policies,0.021955,0.008656,0.011233,0.009136,0.013333,0.001498,1.000000,0.002354
Total Claim Amount,0.226451,0.355254,0.632017,0.007563,0.003335,0.014241,0.002354,1.000000

In [11]:
upper_tri = correlation_matrix.where(np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool))
upper_tri

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,NaN,0.024366,0.396262,0.011517,0.009418,0.036343,0.021955,0.226451
Income,NaN,NaN,0.016665,0.026715,0.000875,0.006408,0.008656,0.355254
Monthly Premium Auto,NaN,NaN,NaN,0.005026,0.020257,0.013122,0.011233,0.632017
Months Since Last Claim,NaN,NaN,NaN,NaN,0.042959,0.005354,0.009136,0.007563
Months Since Policy Inception,NaN,NaN,NaN,NaN,NaN,0.001158,0.013333,0.003335
Number of Open Complaints,NaN,NaN,NaN,NaN,NaN,NaN,0.001498,0.014241
Number of Policies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002354
Total Claim Amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
high_correlation = [column for column in upper_tri.columns if any(upper_tri[column] > 0.9)]
high_correlation

[]

## Remove outliers

In [13]:
#There is no pair of features that have a high correlation, so we do not drop any features.

In [14]:
data.shape

(9134, 24)

## X-y split. (define which column you want to predict, and which ones you will use to make the prediction)

In [32]:
#separate the features from the labels
X = data[['Income', 'Monthly Premium Auto','Number of Policies']]
y = data['Total Claim Amount']

In [33]:
X

      Income  Monthly Premium Auto  Number of Policies
0      56274                    69                   1
1          0                    94                   8
2      48767                   108                   2
3          0                   106                   7
4      43836                    73                   1
...      ...                   ...                 ...
9129   71941                    73                   2
9130   21604                    79                   1
9131       0                    85                   2
9132   21941                    96                   3
9133       0                    77                   1

[9134 rows x 3 columns]

In [29]:
y

0        384.811147
1       1131.464935
2        566.472247
3        529.881344
4        138.130879
           ...
9129     198.234764
9130     379.200000
9131     790.784983
9132     691.200000
9133     369.600000
Name: Total Claim Amount, Length: 9134, dtype: float64

## Use the Train-test split to create the Train, and Test sets (make sure to set the random_state option to any integer number of your choice).

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Use the pd.DataFrame() function to create new Pandas DataFrames from the X_train, and X_test Numpy arrays obtained in the previous step (make sure to use the columns= option to set the columns names to X.columns).

In [36]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

## Split the X_train Pandas DataFrame into two: numerical, and categorical using df.select_dtypes().

In [37]:
numerical = X_train.select_dtypes(include=np.number)
categorical = X_train.select_dtypes(include=object)

## If you need to transform any column, Train your transformers and/or scalers all the numerical columns using the .fit() only in the Train set (only one transformer/scaler for all the columns, check here, and here using the .transform()

In [38]:
# Example for scaling numerical columns using StandardScaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_numerical = scaler.fit_transform(numerical)
scaled_categorical = categorical  # No transformation needed for categorical columns

# Apply transformations to X_test as well
scaled_numerical_test = scaler.transform(X_test.select_dtypes(include=np.number))
scaled_categorical_test = X_test.select_dtypes(include=object)

## Save all your transformers/scalers right after the .fit() using pickle using the code shown below:

In [ ]:
import os

path = "transformers/"
# Check whether the specified path exists or not
isExist = os.path.exists(path)
if not isExist:
    # Create a new directory because it does not exist
    os.makedirs(path)
   print("The new directory is created!")

filename = "filename.pkl" # Use a descriptive name for your scaler/transformer but keep the ".pkl" file extension
with open(path+filename, "wb") as file:
  pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer

If you used a transformer/scaler in the previous step, create new Pandas DataFrames from the Numpy arrays generated by the .transform() using the pd.DataFrame() function as you did earlier with the Numpy arrays generated by the train_test_split() function.
Transform the categorical columns into numbers using a:
OneHotEncoder for categorical nominal columns. (again only use the .fit() in the Train set, but the .transform() in the Train and the Test sets)
Remember to save all your transformers/scalers right after the .fit() using pickle using the code shown below:
path = "encoders/"

In [ ]:
# Check whether the specified path exists or not
isExist = os.path.exists(path)
if not isExist:
  # Create a new directory because it does not exist
  os.makedirs(path)
  print("The new directory is created!")

filename = "filename.pkl" # use a descriptive name for your encoder but keep the ".pkl" file extension
with open(path+filename, "wb") as file:
   pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer
Use .replace() to cast into numbers any categorical ordinal column replacing each label with a number that: respects the order of the labels and the relative "distance"

Concat numerical_transformer and categorical_transfomed DataFrames using pd.concat().

In [39]:
# Concatenate the numerical_transformer and categorical_transformed DataFrames
combined_df = pd.concat([numerical_transformer, categorical_transformed], axis=1)
print(combined_df)

NameError: name 'numerical_transformer' is not defined

Apply another MinMaxScaler to the concatenated DataFrame.

In [40]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(combined_df)
scaled_df = pd.DataFrame(scaled_data, columns=combined_df.columns)

NameError: name 'MinMaxScaler' is not defined

Remember to save all your MinMaxScaler right after the .fit() using pickle using the code shown below:

In [ ]:
path = "scalers/"
# Check whether the specified path exists or not
isExist = os.path.exists(path)
if not isExist:
  # Create a new directory because it does not exist
  os.makedirs(path)
  print("The new directory is created!")

filename = "filename.pkl" # use a descriptive name for your encoder but keep the ".pkl" file extension
with open(path+filename, "wb") as file:
   pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer
Apply linear regression to the Pandas DataFrame obtained in the previous step using sklearn
Remember to save your linear model right after the .fit() using pickle using the code shown below:
    path = "models/"
    # Check whether the specified path exists or not
    isExist = os.path.exists(path)
    if not isExist:
      # Create a new directory because it does not exist
      os.makedirs(path)
      print("The new directory is created!")

     filename = "filename.pkl" # use a descriptive name for your encoder but keep the ".pkl" file extension
     with open(path+filename, "wb") as file:
        pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer

# Model Validation


Compute the following metrics for your Train and Test sets:

R2.
MSE.
RMSE
MAE.

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Mean absolute error
MAE_train = mean_absolute_error(results_df[results_df["Set"]=="Train"]["Real"], results_df[results_df["Set"]=="Train"]["Predicted"])
MAE_test  = mean_absolute_error(results_df[results_df["Set"]=="Test"]["Real"],  results_df[results_df["Set"]=="Test"]["Predicted"])

# Mean squared error
MSE_train = mean_squared_error(results_df[results_df["Set"]=="Train"]["Real"], results_df[results_df["Set"]=="Train"]["Predicted"])
MSE_test  = mean_squared_error(results_df[results_df["Set"]=="Test"]["Real"],  results_df[results_df["Set"]=="Test"]["Predicted"])

# Root mean squared error
RMSE_train = mean_squared_error(results_df[results_df["Set"]=="Train"]["Real"],
                                results_df[results_df["Set"]=="Train"]["Predicted"],
                                squared=False)
RMSE_test  = mean_squared_error(results_df[results_df["Set"]=="Test"]["Real"],
                                results_df[results_df["Set"]=="Test"]["Predicted"],
                                squared=False)

# R2
R2_train = r2_score(results_df[results_df["Set"]=="Train"]["Real"], results_df[results_df["Set"]=="Train"]["Predicted"])
R2_test  = r2_score(results_df[results_df["Set"]=="Test"]["Real"],  results_df[results_df["Set"]=="Test"]["Predicted"])

Create a Pandas DataFrame to summarize the error metrics for the Train and Test sets.

In [ ]:
error_metrics_report(list(results_df[results_df["Set"]=="Train"]["Real"]),
                     list(results_df[results_df["Set"]=="Test"]["Real"]),
                     list(results_df[results_df["Set"]=="Train"]["Predicted"]),
                     list(results_df[results_df["Set"]=="Test"]["Predicted"]))